* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f4f6f0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  padding: 0.5rem;
  line-height: 1.5;
  background-color: antiquewhite;
}

.text-logo {
  font-size: 2rem;
  text-align: center;
}

.site-desc {
  text-align: center;
  line-height: 0.7rem;
  font-style: italic;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.main-section {
  padding: 1rem;
  margin-top: 2rem;
}

.form-container {
  margin-top: 0.2rem;
}

input {
  height: 2rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

#tickets {
  margin-top: 1rem;
}

.buttons-group {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

button {
  height: 3rem;
  width: 8rem;
  font-size: 1.2rem;
  border-radius: 20px;
  color: white;
}

#reset {
  background-color: red;
}

#submit {
  background-color: green;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }

  input {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }

  input {
    margin-bottom: 2rem;
  }
}
